{% extends "base.html" %}

{% block extraImports %}
{% if not user.admin %}
<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
{% endif %}

{% endblock %}

{% block postContentImports %}
<script src="../static/js/updateFilename.js"></script>
<script src="../static/js/adminProfileForm.js"></script>
{% endblock %}

{% block content %}
<div class="backgroundContainer content">
    <div class="box is-black pt-6 is-fullwidth">
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128 profile-img">
                    {% if user.profilePic %}
                        <img src="../static/imgs/users/{{ user.email }}.png">
                    {% else %}
                        <img src="../static/imgs/profilePlaceHolder128.png" alt="" srcset="">
                    {% endif %}
                    <span  class="icon level-item is-clickable is-overlay hidden-icon">
                        <i id="picDisplay" class="fas fa-pencil-alt fa-8x editable"></i>
                    </span> 
                </p>
            </figure>
            <div class="content">
                <div class="media-content">
                    <p id="nameDisplay" class="is-size-1 is-clickable editable" style="padding-top: 4.2rem; margin-bottom: 0;">
                        {% if user.firstName %}
                            {{ user.firstName }} {{ user.lastName }}
                        {% else %}
                            No Name
                        {% endif %}
                        <sup>
                            <span class="icon-text">
                                <span class="icon hidden-icon ">
                                    <i class="fas fa-pencil-alt fa-1x"></i>
                                </span> 
                            </span>
                        </sup>
                    </p>
                    
                         
                    <form id="nameForm" action="{{url_for(request.endpoint, **request.view_args)}}" hidden style="padding-top: 4.2rem;" method="post">
                        {{ form.csrf_token }}
                        <div class="level">
                            <div class="level-item">
                                <div class="field">
                                    <p class="control">
                                        {% if user.firstName %}
                                            {{form.firstName(class="input is-large", placeholder=user.firstName)}}
                                        {% else %}
                                            {{form.firstName(class="input is-large", placeholder="First Name")}}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="field">
                                    <p class="control">
                                        {% if user.lastName %}
                                            {{form.lastName(class="input is-large", placeholder=user.lastName)}}
                                        {% else %}
                                            {{form.lastName(class="input is-large", placeholder="Last Name")}}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="field">
                                    <input type="submit" class="button is-primary is-size-4" value="Change Name">
                                </div>
                            </div>
                        </div>
                    </form>
                                                  
                </div>
            </div>
        </article>

        <form hidden action="{{url_for(request.endpoint, **request.view_args)}}" method="post" enctype="multipart/form-data" id="picForm">
            {{ form.csrf_token }}
            <div class="field">
                <div class="file is-large has-name" id="fileUpload">
                    <label class="file-label">
                      {{ form.profilePic(class="file-input", accept="image/*", id="file") }}
                      <!-- <input class="file-input" type="file" name="images" accept="image/*" id="file" required> -->
                      <span class="file-cta">
                        <span class="icon is-left">
                            <i class="fas fa-file-upload"></i>
                        </span>
                        <span class="file-label">
                          Select Image...
                        </span>
                      </span>
                      <span class="file-name">
                        Selected Image
                      </span>
                    </label>
                </div>
            </div>
            
            <div class="field">
                <div class="control"><input class="button is-primary" type="submit" value="Upload File"></div>
            </div>
        </form>
    </div>
        
    <hr style="margin-top: 0;">

    
    <div class="notification is-size-3">
        <p>
            <strong>Pronouns: </strong> 
            <span id="pronounDisplay" class="is-clickable editable">
                {% if user.pronouns %}
                    {{ user.pronouns }}
                {% else %}
                    No Pronouns
                {% endif %}         
                <sup>
                    <span class="icon-text">
                        <span class="icon hidden-icon ">
                            <i class="fas fa-pencil-alt fa-1x"></i>
                        </span> 
                    </span>
                </sup>
            </span>
            <form id="pronounForm" hidden action="{{url_for(request.endpoint, **request.view_args)}}" method="post">
                {{ form.csrf_token }}
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div class="field">
                                <p class="control">
                                    {% if user.pronouns %}
                                        {{form.pronouns(class="input is-large", placeholder=user.pronouns)}}
                                    {% else %}
                                        {{form.pronouns(class="input is-large", placeholder="they/them")}}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field">
                                <input type="submit" class="button is-primary is-size-4" value="Change Pronouns">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </p>

             
        <p>
            <strong>Position: </strong>
            <span id="positionDisplay" class="editable is-clickable">
                {% if user.position %}
                    {{ user.position }}
                {% else %}
                    Contact PSR Coordinator
                {% endif %}
                <sup>
                    <span class="icon-text">
                        <span class="icon hidden-icon ">
                            <i class="fas fa-pencil-alt"></i>
                        </span> 
                    </span>
                </sup>        
            </span>
            <form id="positionForm" hidden action="{{url_for(request.endpoint, **request.view_args)}}" method="post">
                {{ form.csrf_token }}
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div class="field">
                                <p class="control">
                                    {{ form.position(class="select is-large") }}
                                </p>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field">
                                <input type="submit" class="button is-primary is-size-4" value="Update Position">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </p>

        <p>
            <strong>Class: </strong>
            <span id="classDisplay" class="editable is-clickable">
                {% if user.physicsClass %}
                    {{ user.physicsClass }}
                {% else %}
                    Contact PSR Coordinator
                {% endif %}
                <sup>
                    <span class="icon-text">
                        <span class="icon hidden-icon ">
                            <i class="fas fa-pencil-alt"></i>
                        </span> 
                    </span>
                </sup>      
            </span>
            <form id="classForm" hidden action="{{url_for(request.endpoint, **request.view_args)}}" method="post">
                {{ form.csrf_token }}
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div class="field">
                                <p class="control">
                                    {% if user.physicsClass %}
                                        {{form.physicsClass(class="input is-large", placeholder=user.physicsClass)}}
                                    {% else %}
                                        {{form.physicsClass(class="input is-large", placeholder="Class Name")}}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field">
                                <input type="submit" class="button is-primary is-size-4" value="Update Class">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </p>
    </div>

    {% if not user.admin %}
    <hr>
    <p class="is-size-3">
        <strong>Schedule</strong>
    </p>
    <div id="calendar" style="height: 500px;"></div>
    <script>
        /* in the browser environment namespace */
        const Calendar = tui.Calendar;
        const container = document.getElementById('calendar');

        const weekOptions = {
            dayNames: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
            showNowIndicator: false,
            eventView: ['time'],
            taskView: false,
            hourStart: {{startingHour}},
            hourEnd: {{endingHour}}
        }
        const fullOptions = {
            useDetailPopup: true,
            isReadOnly: true,
            week: weekOptions,
            calendars: [
                {
                    id: "TAcal",
                    name: "TAs",
                    backgroundColor: "#ffbe0b"
                },
                {
                    id:"LAcal",
                    name:"LAs",
                    backgroundColor: "#3a86ff"
                },
                {
                    id:"OtherCal",
                    name:"Other",
                    backgroundColor: "#ff006e"
                }
            ]
        }
        const calendar = new Calendar(container, fullOptions)
        calendar.setOptions({
            template: {
              weekDayName(model) {
                return `<span class="is-size-2">${model.dayName}</span>`;
              },
            },
          });
        let events = {{eventslist|tojson}}
        console.log(events)
        calendar.setDate("2022-03-21")
        calendar.createEvents(events)
    </script>
    <hr>
    <div class="box">
        <p class="is-size-3">
            <strong>Administrative</strong>
        </p>
            <p class="is-size-4">Promote to Admin</p>
            <p>
                Caution: Clicking this button will make this user an administator.
            This will allow them to make changes to what is displayed on the PSR monitor and allow them to alter other users content.
            </p>
            <button id="adminButton" class="button is-danger js-modal-trigger" data-target="admin-modal">
                Make Admin
            </button>
            <hr>
            <p class="is-size-4">Delete User</p>
            <p>
                Caution: Clicking this button will permanently delete this user.
            </p>
            <button id="deleteButton" class="button is-danger js-modal-trigger" data-target="delete-modal">
                Delete User
            </button>
    </div>

    <div id="admin-modal" class="modal">
        <div class="modal-background"></div>
            <div class="modal-content">
                <form id="adminForm" class="box" action="{{url_for(request.endpoint, **request.view_args)}}" method="post">
                    {{ form.csrf_token }}
                    <p class="is-size-4 mb-6">Are you sure you want {{user.firstName}} {{user.lastName}} to be an admin?</p>
                    <div class="buttons is-centered">
                        {{form.action(value="admin")}}
                        <input type="submit" class="button is-danger is-medium" value="Yes">
                        <div class="button is-primary close-button is-medium">No</div>
                    </div>
                </form>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="delete-modal" class="modal">
        <div class="modal-background"></div>
            <div class="modal-content">
                <form id="deleteForm" class="box" action="{{url_for(request.endpoint, **request.view_args)}}" method="post">
                    {{ form.csrf_token }}
                    <p class="is-size-4 mb-6">Are you sure you want to delete {{user.firstName}} {{user.lastName}}?</p>
                    <div class="buttons is-centered">
                        <input type="hidden" name="action" value="delete">
                        <input type="submit" class="button is-danger is-medium" value="Yes">
                        <div class="button is-primary close-button is-medium">No</div>
                    </div>
                </form>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', () => {
            // Functions to open and close a modal
            function openModal($el) {
              $el.classList.add('is-active');
            }
          
            function closeModal($el) {
              $el.classList.remove('is-active');
            }
          
            function closeAllModals() {
              (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
              });
            }
          
            // Add a click event on buttons to open a specific modal
            (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
              const modal = $trigger.dataset.target;
              const $target = document.getElementById(modal);
          
              $trigger.addEventListener('click', () => {
                openModal($target);
              });
            });
          
            // Add a click event on various child elements to close the parent modal
            (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button, .close-button') || []).forEach(($close) => {
              const $target = $close.closest('.modal');
          
              $close.addEventListener('click', () => {
                closeModal($target);
              });
            });
          
            // Add a keyboard event to close all modals
            document.addEventListener('keydown', (event) => {
              const e = event || window.event;
          
              if (e.keyCode === 27) { // Escape key
                closeAllModals();
              }
            });
          });
    </script>

    {% endif %}

</div>


{% endblock %}