<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="../static/css/styles2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>PSR Monitor</title>
</head>
<body>
    <div id="background-image"></div>
    <div id="background-overlay"></div>
    <div id="login-form-container">
        <div class="card is-centered" style="width:400px;">
            <div class="card-image">
                <p class="title is-size-1 has-text-centered has-text-weight-semibold" style="margin-top: 15px;">PSR</p>
                <p class="subtitle is-size-3 has-text-centered">Monitor Controller</p>
                <hr>
            </div>
               
            <div class="card-content">
                <!-- <div class="media">
                    <p class="is-size-4">Login</p>
                </div> -->
                <a href="/login"><button class="button is-large is-primary is-fullwidth">Login with UCSB Google</button></a>
            </div>
        </div>
    </div>
    <!--<form method="POST" action="/token">
        <-- <form action="/auth/cookie/login" method="post"> ->
        <span>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </span>
        <span>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </span>
        <span>
            <input type="submit" value="Submit">
        </span>
    </form> -->
</body>
</html>