{% extends "base.html" %}

{% block extraImports %}
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.1/papaparse.min.js" integrity="sha512-EbdJQSugx0nVWrtyK3JdQQ/03mS3Q1UiAhRtErbwl1YL/+e2hZdlIcSURxxh7WXHTzn83sjlh2rysACoJGfb6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block postContentImports %}
<script defer src="static/js/updateFilename.js"></script>
<script defer src="static/js/addHostsFormChecking.js"></script>
{% endblock %}

{% block content %}
<div class="backgroundContainer content">
    <p class="title">
        Add PSR Hosts
    </p>
    <p>
        Use this page to upload a CSV file that will create all of the people that will TA or LA in the Physics Study Room.

        People <strong>will not</strong> be able to login until they have been added to the database.

        This CSV should have the following format:
    </p>
        <table class="table is-bordered is-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Pronouns</th>
                    <th>Class</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>zespley@ucsb.edu</td>
                    <td>Zak</td>
                    <td>Espley</td>
                    <td>He/Him</td>
                    <td>128AL</td>
                    <td>TA</td>
                </tr>
                <tr>
                    <td>rshirin@physics.ucsb.edu</td>
                    <td>Raffi</td>
                    <td>Shirinian</td>
                    <td>He/Him</td>
                    <td>110A</td>
                    <td>LA</td>
                </tr>
            </tbody>
        </table>
    <hr>
    <p class="is-size-4">Select CSV File to Upload</p>
    <p id="errors" class="has-text-danger-dark has-text-weight-semibold is-size-5"></p>
    <form action="{{ url_for('main.addUsers') }}" method="post" enctype="multipart/form-data" id="form">
        {{ form.csrf_token }}
        <div class="field">
            <div class="file is-large has-name" id="fileUpload">
                <label class="file-label">
                  <!-- <input class="file-input" type="file" name="hostCSV" accept="text/csv" id="file" required> -->
                  {{ form.csvFile(class="file-input", id="file", accept="text/csv") }}
                  <span class="file-cta">
                    <span class="icon is-left">
                        <i class="fas fa-file-upload"></i>
                    </span>
                    <span class="file-label">
                      Select File...
                    </span>
                  </span>
                  <span class="file-name">
                    Selected File.csv
                  </span>
                </label>
            </div>
        </div>
        
        <div class="field">
            <div class="control"><input class="button is-primary" type="submit" value="Upload File"></div>
        </div>
    </form>
    

</div>


{% endblock %}