<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="../static/css/styles2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% block extraImports %}

    {% endblock %}
    <title>PSR Monitor Controller</title>
</head>
<body>
    <div id="background-image"></div>
    <div id="background-overlay"></div>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="index.html">
            <img src="static/imgs/logo.png" width="60" height="28">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>
      
            <a class="navbar-item" href="/addHosts">
                Add Hosts
            </a>

            <a class="navbar-item" href="/addHostsImages">
                Add Host Images
            </a>

            <a class="navbar-item" href="/manuallyAddHostsImages">
                Add Manual Image
            </a>

            <a class="navbar-item" href="/makeSlideshows">
                Create Slideshows
            </a>

            <a class="navbar-item">
                Add Slides
            </a>

          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-light" href="/logout">
                  Log Out
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <div class="container">
        {% block content %}
    
        {% endblock %}
    </div>
    
    
</body>
</html>