<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Slideshow</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div id="slideshow-example" data-component="slideshow">
      <div role="list">
        <div id="t" class="slide">
          <!-- <img src="imgs/autumn.jpg" alt=""> -->
        </div>
        <div id="2" class="slide">
          <!-- <img src="imgs/eclipse.jpg" alt=""> -->
        </div>
        <div id="3" class="slide">
          <!-- <img src="imgs/hollywood.jpg" alt=""> -->
        </div>
        <div id="4" class="slide">
            <!-- <img src="imgs/jaime.jpg" alt=""> -->
        </div>
      </div>
    </div>
  <script src="js/slideshow.js"></script>
  </body>
</html>