<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/styles2.css">
</head>
<body>
    <!-- This is genreated from https://www.theweather.com/widget/-->
    <!-- If you change it you must change the CSS id descriptor to match -->
    <h1>Homepage</h1>
    <h3>Start making slideshows</h3>
</body>
</html>