<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/styles2.css">
</head>
<body>
    <!-- This is genreated from https://www.theweather.com/widget/-->
    <!-- If you change it you must change the CSS id descriptor to match -->
    <div id="cont_15daf8987f9032c6fbce3b122c3f69e3"><script type="text/javascript" async src="https://www.theweather.com/wid_loader/15daf8987f9032c6fbce3b122c3f69e3"></script></div>
    <iframe id="clock" scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:450px;height:210px;"src="https://www.clocklink.com/html5embed.php?clock=048&timezone=PST&color=blue&size=450&Title=&Message=&Target=&From=2021,1,1,0,0,0&Color=blue"></iframe>
    <ul class="slideshow">
        <li><span style="background-image: url('static/imgs/autumn.jpg');"></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
</body>
</html>